Follow steps
 1 Mail data
 
 2 Data preProcessing
 
 3 Train-Test Split
 
 4 covert test data to numeric data
 
 5 As its a binary classification so I will use LOGISTIC REGRESSSION
 
 
 6 Trained Logistic regression
 
 7 Understand the mail is Spam or Ham

#### Import dependies

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
####TfidfVectorizer Convert a collection of raw documents to a matrix of TF-IDF features.
####TfidfVectorizer text data to numerical value(feature vector)
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [6]:
Spam_data = pd.read_csv('mail_data.csv')

In [7]:
Spam_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
## Replace the null values with a null string
mail_data = Spam_data.where((pd.notnull(Spam_data)),'')

In [11]:
mail_data.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [12]:
## count of row and columns
mail_data.shape

(5572, 2)

Label encoding

In [13]:
##Import label encoding (text to numeric)

from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

#label spam mail as 0 and ham mail as 1:

mail_data['Category']= label_encoder.fit_transform(mail_data['Category'])

mail_data['Category'].unique()

array([0, 1])

In [14]:
mail_data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

Ham = 0

Spam = 1

In [17]:
## Separeting the data as texts and label

X = mail_data['Message']

y = mail_data.drop(['Message'],axis =1)

In [18]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [19]:
y

      Category
0            0
1            0
2            1
3            0
4            0
...        ...
5567         1
5568         0
5569         0
5570         0
5571         0

[5572 rows x 1 columns]

Train and text split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.33, random_state=3)

In [22]:
print(X_train.shape)
print(X_test.shape)

(3733,)
(1839,)

Feature Extraction

In [25]:
##transform the data to the feature vectors that can be used as input to the logisics regression

feature_extraction = TfidfVectorizer( min_df=1,stop_words='english' ,lowercase='True' )
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)


##covert Y_train and y_test in int

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [26]:
print(X_train_features)

  (0, 6637)	0.37543607341375834
  (0, 6395)	0.20540275591807847
  (0, 1042)	0.2833892103661097
  (0, 6236)	0.1787249638873216
  (0, 3925)	0.39416786734965026
  (0, 1175)	0.35183680400632655
  (0, 357)	0.37543607341375834
  (0, 5548)	0.3301234408682982
  (0, 6290)	0.23781483044488078
  (0, 5989)	0.19659321327448628
  (0, 5919)	0.2833892103661097
  (1, 6165)	0.28269211744358475
  (1, 5520)	0.2746449943292782
  (1, 486)	0.19789555455441193
  (1, 592)	0.2746449943292782
  (1, 867)	0.28269211744358475
  (1, 6151)	0.16519688262572216
  (1, 813)	0.3076887649624107
  (1, 1768)	0.2625109510343216
  (1, 3446)	0.14921376911807596
  (1, 4550)	0.24307336848250105
  (1, 2189)	0.2625109510343216
  (1, 5490)	0.2576954699247588
  (1, 6513)	0.19876457345801896
  (1, 6547)	0.2625109510343216
  :	:
  (3730, 2838)	0.32897158720282516
  (3730, 5548)	0.39395147435000516
  (3731, 2232)	0.35808600536220986
  (3731, 2030)	0.3640871994777767
  (3731, 3542)	0.312544858047745
  (3731, 5098)	0.3434282411881879
  (3731, 6418)	0.3040332418860872
  (3731, 4259)	0.3040332418860872
  (3731, 3497)	0.3102799847195952
  (3731, 4035)	0.2514330508242015
  (3731, 6144)	0.2967420735442012
  (3731, 5502)	0.22872208661397536
  (3731, 6236)	0.19711254495393968
  (3732, 588)	0.30199785665697426
  (3732, 5694)	0.30199785665697426
  (3732, 130)	0.291307146764284
  (3732, 5691)	0.291307146764284
  (3732, 308)	0.2203455996178161
  (3732, 6456)	0.24750650766964424
  (3732, 5025)	0.4494451980771405
  (3732, 2589)	0.31627610262571304
  (3732, 5639)	0.1756041116966502
  (3732, 5444)	0.2076456683218655
  (3732, 6452)	0.36883244172126506
  (3732, 5222)	0.1613715283968884

Training the Model 



Logistic Regression

In [27]:
LR = LogisticRegression()

In [29]:
## training the logistic regression with the training the dara

LR.fit(X_train_features,y_train)

c:\users\anindya das\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

Evaluting the training data

In [31]:
##predicting the training data

prediction_on_training_data = LR.predict(X_train_features)

from sklearn.metrics import accuracy_score

accuracy_training_data = accuracy_score(y_train,prediction_on_training_data)

In [32]:
print("Accuracy on training data: ", accuracy_training_data)

Accuracy on training data:  0.9643718189124029

In [35]:
prediction_on_test_data = LR.predict(X_test_features)

accuracy_test_data = accuracy_score(y_test,prediction_on_test_data)

In [36]:
print("Accuracy on test data: ", accuracy_test_data)

Accuracy on test data:  0.958673191952148

Ham = 0

Spam = 1

Building a predictive system

In [43]:
Input_mail = ["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"]

##convert test to feature vector

input_data_features = feature_extraction.transform(Input_mail)

## Making prediction

prediction = LR.predict(input_data_features)

print(prediction)

if (prediction [0] == 1):
    print('spam Mail')
else:
    print('Ham Mail')

[1]
spam Mail